@charset "UTF-8";

  /* Conteudo Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, helvetica, sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
h1, h2, h3, p {
  padding: 20px;
}
a {
  text-decoration: none;
}
hr {
  border: 1px solid white;
  width: 70px;
  color: white;
  text-align: center;
  margin: auto;
}
p {
  font: normal normal 1em arial, helvetica, sans-serif;
}
body {
  position: relative;
  background-color: #efefef;
}
  /* Cabecalho */
header h1, h2 {
  padding: 20px;
  font: normal bold 2em;
  text-align: center;
}
header {
  margin: 0;
  background-image: linear-gradient(to bottom, #9300fd, #0033d3);
  color: white;
}
  /* Navegação */
#menlin {
  padding: 0 10px 0 10px;
  border: 1px solid #002bb1;
  background-color: #0033d3;
  color: white;
  display: block;
  font-size: 30px;
}
nav {
  display: none;
}
nav a {
  font: normal bold 1em arial, helvetica, sans-serif;
  display: inline-block;
  margin: 2px;
  text-decoration: none;
  padding: 10px;
  border: 0px solid #0033d3;
  background-color: #0033d3;
  color: white;
  border-radius: 5px;
  width: 99%;
}
  /* Conteudo Principal */

  /* Imagens */
img {
  border-radius: 20px;
  margin: 20px auto 20px auto;
  height: 250;
  width: 129;
  justify-content: center;
  display: flex;
}
  /* Seções */
section, div {
  padding: 20px;
  margin: 20px;
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: 0 5px 10px #0000002a;
  background-color: white;
}
div {
  box-shadow: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  }
section h1 {
  font: normal bold 2em arial, sans-serif;
}
  /* Listas com downloads */
ul {
  margin: 0 0 20px 20px;
  font: normal normal 1.1em arial, helvetica, sans-serif;
  line-height: 55px;
}
ul a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
ul a:hover {
  text-decoration: underline;
}
li a::before {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('Fotos/download.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  vertical-align: middle;
}
  /* Videos e Iframes */
video, iframe {
  margin: 20px auto 20px auto;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
}
#iframes p {
  font: normal normal 1em arial, helvetica, sans-serif;
}
aside {
  margin: 0 0 20px 0;
}
  /* Audios */
audio {
  margin: 20px;
}
  /* Tabela */
table {
  margin: auto;
  border-collapse: collapse;
}
caption {
  font: normal bold 1.5em Arial, helvetica, sans-serif;
  padding: 5px;
  background-color: #dddbff;
  border-radius: 10px 10px 0 0;
}
table td, th {
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 200px;
  border: 1px solid black;
}
th {
  background-color: #350096;
  color: white;
}
tr:nth-child(odd) {
  background-color: lightgray;
}
  /* Rodape */
footer {
  height: 100px;
  background-color: #0033d3;
  color: white;
}
footer p {
  margin: 0 20px 0 20px;
  padding: 30px 0 0 0;
  text-align: center;
  font: normal lighter 1.1em arial, helvetica, sans-serif;
}
footer a {
  text-decoration: none;
  font-weight: normal;
  color: white;
}
body {
  position: relative;
}
  /* Alternar links */
.gonext {
  padding: -2px 0 0 0;
  position: absolute;
  left: 7%;
  border: 2px solid lightgray;
  width: 48px;
  color: gray;
  height: 48px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  background-color: lightgray;
}
.gonext:hover {
  border: 2px solid gray;
  background-color: gray;
  color: white;
  transition-duration: .2s;
}
.goup {
  position: sticky;
  top: 0;
  left: 80%;
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  font: normal bold 2.3em Arial, helvetica, sans-serif;
  text-decoration: none;
  border: 2px solid #7d8afe;
  background-color: #7d8afe;
  color: white;
  padding: -2px;
  border-radius: 50%;
}
@media screen and (min-width: 310px) {
  #iframes {
    font: normal normal 17px arial, helvetica,
    sans-serif;
  }
  section {
    font: normal normal 17px arial, helvetica,
    sans-serif;
  }
  audio {
    width: 60%;
  }
  img.imgp {
    width: 86%;
  }
}
@media screen and (min-width: 650px) {
  #menlin {
    display: none;
  }
  #navtop {
    padding: 20px;
    border: 0px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 10px #0000002a;
    background-color: white;
    margin: 30px;
    display: flex;
  }
   #navtop a {
    display: inline;
  }
}
@media screen and (min-width: 968px) {
  section {
    font: normal normal 17px arial, helvetica,
    sans-serif;
  }
  div {
    box-shadow: 0;
    margin: 0;
    padding: 0;
  }
  .separdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #imagem {
    margin: 25px 20px 20px 20px;
  }
  audio {
    margin: 5;
  }
  li {
    font: normal normal 16px arial, helvetica,
    sans-serif;
    line-height: 77px;
  }
  header {
    margin: 0;
    font: normal bolder 1em arial, helvetica, sans-serif;
  }
  #navtop {
    padding: 20px;
    border: 0px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 10px #0000002a;
    background-color: white;
    margin: 30px;
    display: flex;
  }
  #navtop a {
    display: inline;
  }
  #menlin {
    display: none;
  }
}